html,
body {
  font-family: "Gelasio", "Azeret Mono", "Noto Sans TC", monospace, sans-serif;
}

img{
  max-width: 100%;
  vertical-align: middle;
}

a{
  display: block;
  text-decoration: none;
}

li{
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}
