.banner{
  height: 252px;
  background: url(../images/banner_mobile.png) no-repeat center center;
  @media(min-width: 380px){
    background: url(../images/banner.png) no-repeat center center;
    background-size:cover ;
}
  .bannerContainer{
    z-index: 0;
  }

  .bannerText{
    top: 170px;
    &::after{
      content: "";
      position: absolute;
      left: -14px;
      top: -16px;
      width: 100%;
      height: 100%;
      border: 3px solid $primary;
      z-index: -1;
    }
  }
}
main{
  padding-top: 122px;
  @include laptop{
    padding-top: 232px;
  }
}
.someone_say{
  background: url(../images/quote_mobile.png);
}
.aboutHead{
  transform: translateY(50%);
}